<h1 class="text-center mb-3">{{title}}</h1>
<h4>Goals</h4>
<form action="/goal" method="POST" class="mb-4">
    <div class="form-group">
        <label for="goal">Goal</label>
        <input type="text" name="goal" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label for="timeCommitment">Time Commitment</label>
        <input type="text" name="timeCommitment" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label for="logging">Logging</label>
        <input type="text" name="logging" class="form-control">
    </div>
    <br>
    <input type="submit" value="Add Goal" class="btn btn-primary btn-block">
</form>
<table class="table table-bordered">
    <tr>
        <th>Goal</th>
        <th>Time Commitment</th>
        <th>Logging</th>
    </tr>
    {{#each goals}}
    <tr>
        <td>{{this.goal}}</td>
        <td>{{this.timeCommitment}}</td>
        <td>{{this.logging}}</td>
        <td>
            <form action="/goal/{{this.id}}/update" method="GET" class="mb-4">
                <input type="submit" value="Update" class="btn btn-primary btn-block">
            </form>
            <form action="/goal/{{this.id}}/delete" method="GET" class="mb-4">
                <input type="submit" value="Delete" class="btn btn-primary btn-block">
            </form>
        </td>
    </tr>
    {{/each}}
</table>